{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">{{dist_id}} 사고 현황</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="overflow-x:hidden">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>날짜</th>
                            <th>부상 정도</th>
                            <th>원인</th>
                            <th>그룹</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acc in acc_list %}
                        <tr>
                            <td>{{acc.accident_id}}</td>
                            <td>{{acc.date}}</td>
                            <td>{{acc.injury}}</td>
                            <td>{{acc.cause}}</td>
                            <td>{{acc.group_id}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'dash/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dash/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'dash/js/datatables.js' %}"></script>
{% endblock %}