/* #div01 {
  background-image: url("../img/bonobono.jpg");
  width: 100vw;
  height: 100vh;
  text-align: center;
} */

.bg-image {
  background: url("../img/safe_img.jpg");
  height:400px;
  background-position: center;
  background-size: cover;
}

.main-bg-image {
  background: url("../img/safe_img.jpg");
  height:100%;
  background-position: center;
  background-size: cover;
}